{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">

    <div class="bg-[#1b1b1b] p-4 rounded-xl shadow-lg" style="width: 320px;">

        <h2 class="text-white text-center mb-4">
            Giriş Yap
        </h2>

        <form action="{{ url_for('login') }}" method="POST">

            <input type="text" name="username" placeholder="Kullanıcı Adı" class="form-control mb-3" required>

            <input type="password" name="password" placeholder="Şifre" class="form-control mb-4" required>

            <button type="submit" class="btn btn-danger w-100">
                Giriş
            </button>

        </form>

        <p class="text-gray-400 text-center mt-3">
            Hesabın yok mu?
            <a href="{{ url_for('register') }}" class="text-danger text-decoration-none">
                Kayıt Ol
            </a>
        </p>

    </div>

</div>

{% endblock %}